body{
    background-color: rgb(255, 205, 205);
    margin: 0;
    font-family: sans-serif;
}



h1{
    font-size: 3rem;
    text-align: center;
    background: #ff00cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-container{
    font-family: "Courier New", Courier, monospace;
    background-color: rebeccapurple;
    width: 300px;
    height: 150px;
    color: antiquewhite;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.75);
}